<section class="app" (click)="hideContextMenu()" (keydown)="listenKeys($event)">
    <aside>
      <input (keyup)="search()" [(ngModel)]="searchText" type="search" class="form-control ds-input" id="search-input" placeholder="Search..." autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0">
        <table id="searchTable" class="table">
            <tbody>
            <tr #row *ngFor="let d of data; let i = index" [class.active]="i == selectedRow">
              <td scope="row" id="{{d.id}}" (dblclick)="redirectToPreview(d.id)"  (contextmenu)="showSongActionMenu($event,d.id)" (click)="titleOnClick(i)">{{d.title}}</td>
            </tr>
            </tbody>
        </table>
    </aside>
    <main>
      <button routerLink="/" routerLinkActive="true">Home</button>
      <button routerLink="song/create" routerLinkActive="true">New Song</button>
      <br>
      <router-outlet></router-outlet>
    </main>
  <div id="songActionMenu" class="context-menu">
    <ul>
      <li routerLink="display/{{rightClickID}}" routerLinkActive="true">Preview</li>
      <li routerLink="song/{{rightClickID}}" routerLinkActive="true">Edit</li>
      <li (click)="deleteSong()">Delete</li>
    </ul>
  </div>
</section>



