/**reset**/
table, tr, td, pre{
  margin: 0;
  padding: 0;
}
#table{
  height: 52.934vw;
  border: 1px solid black;
  table-layout: fixed;
  overflow: auto;
}
#table table tr, pre{
  width: 30vw;
  word-wrap: break-word;
}
table tr.active td{
  background-color:darkgray !important;
}


.display {
  display: table;
  position: relative;
  background: #000000;
  zoom: 0.5;
}
.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  font-family: "Times New Roman";
  margin: 0 auto;
  padding: 46px 0 0 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  text-align: center;
  vertical-align: top;
  font-size: 114px;
  color: #FFFFFF;
  width: 1600px;
  height: 900px;
  line-height: 97px;
}

#display:-webkit-full-screen >.middle > .inner {
  padding: 4.63vw 0 0 0;
  font-size: 7.06vw;
  width: 100vw;
  height: 56.25vw;
  line-height: 6.06vw;
}
:host ::ng-deep #display:-webkit-full-screen >.middle > .inner sup{
  font-size: 2.94vw;
  top: 1.69vw;
  margin-bottom: 6.25vw;
}

:host ::ng-deep sup {
  font-size: 66px;
  vertical-align: top;
  position: relative;
  top: 42px;
  display: inline-block;
  margin-bottom: 110px;
}

.inner pre{
  color: #FFFFFF;
}
