<div class="container" (click)="hideContextMenu()" (keydown)="keyPress($event)">
  <div id="table">
    <table *ngIf="xml" class="table table-striped">
      <tr><th colspan="2">{{title}}</th></tr>
      <tr *ngFor="let verse of xml; let i = index" [class.active]="i == getIndex()" (click)="setSelectedRow(i)">
        <td style="border: 1px solid; width: 20px">{{i+1}}</td>
        <td style="border: 1px solid"><pre>{{removeTag(verse._cdata)}}</pre></td>
      </tr>
    </table>
  </div>
  <button (click)="full_screen()">Full Screen</button>
  <div id="display" class="display">
    <div class="middle">
      <pre *ngIf="arr" class="inner" [innerHTML]="arr[getIndex()]"></pre>
    </div>
  </div>
</div>

