.song{
  margin: 20px;
}
textarea{
  width: 80vh;
  height: 80vh;
}

.break:last-child{
  visibility:hidden;
  display:none;
}

/** right click menu**/
.context-menu{
  display: none;
}
.context-menu, .context-menu ul li ul{
  width: 200px;
  height: auto;
  box-shadow: 0 0 20px 0 #ccc;
  position: absolute;
  background: #fff;
}
li{
  height: 1.5rem;
  display: block;
}
.context-menu ul li:hover > ul{
  visibility: visible;
}
.context-menu ul li ul{
  position: relative;
  top: -25px;
  left:195px;
  visibility: hidden;
}
.context-menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.context-menu ul li:not(.separator){
  padding: 1px;
  border-left: 4px solid transparent;
  cursor: pointer;
}

.context-menu ul li:hover{
  background: #eee;
  border-left: 4px solid #666;
}

